.userMenuContainer {
	width: 200px;

	.userMenuInfo {
		display: flex;
		align-items: center;
		gap: 16px;
		margin-bottom: 20px;

		.userMenuName {
			font-size: 16px;
			font-weight: 600;
			color: #292929;
		}

		.userMenuId {
			margin-top: 8px;
			font-size: 14px;
			color: #757575;
		}
	}

	.userMenuLink {
		font-size: 14px;
		color: #666;
		display: block;
		padding: 10px 0;
		cursor: pointer;
		text-decoration: none;

		&:hover {
			color: #292929;
		}
	}
}
