.notifiItemContainer {
	display: flex;
	align-items: center;
	column-gap: 8px;
	padding: 8px 10px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 100ms ease-in-out;

	&:hover {
		background: #f5f3f3;
	}

	.notifiItemLogo {
		width: 42px;
		height: 42px;
		object-fit: cover;
		border-radius: 50%;
	}

	.notifiItemContent {
		font-size: 14px;
		color: #333;
	}

	.notifiItemDays {
		font-size: 13px;
		font-weight: 500;
		margin-top: 6px;
		color: #f05123;
	}
}
