.headerContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;
	background: #fff;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

	.headerLogo {
		display: flex;
		align-items: center;
		gap: 10px;

		.headerIcon {
			width: 38px;
			height: 38px;
			border-radius: 6px;
		}

		.headerTitle {
			font-weight: 700;
			font-size: 14px;
		}
	}

	.headerControls {
		display: flex;
		align-items: center;
		gap: 30px;
	}
}
