.modalAction {
	padding: 15px;
	border-radius: 6px;
	border: 1px solid;
	background-color: #000000;
	color: #fff;
	font-weight: 500;
	cursor: pointer;

	&:hover {
		opacity: 0.9;
	}
}

.customModal:global(.modalContent) {
	background: blue;
}
