.wrapperContainer {
	position: absolute;
	right: 5px;
	top: 35px;
	// width: 400px;
	max-height: 550px;
	overflow-y: auto;
	background: #fff;
	padding: 20px;
	border: 2px solid #f1eeee;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	border-radius: 8px;
	animation: fadeIn 0.3s ease forwards;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
