.notifiContainer {
	width: 350px;

	.notifiHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.notifiMark {
			margin-left: auto;
			padding: 8px;
			border-radius: 4px;
			color: #f05123;
			background: transparent;
			font-size: 14px;
			cursor: pointer;
		}
	}
}

.notifiList {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 22px;
}
